<!DOCTYPE html>
<script type="text/javascript">
  var landingPageCtrl = new LandingPageController();
  $(document).ready(function() {
  landingPageCtrl.init();
  });
</script>
<div id="navigator">
  <br><span id="homeBullet" class="nav_bullet glyphicon glyphicon-home" data-toggle="tooltip" title="Home"></span><br><br><br>
  <div id="navBullet1" class="nav_bullet" data-toggle="tooltip" title="Routes"></div><br><br><br>
  <div id="navBullet2" class="nav_bullet" data-toggle="tooltip" title="People"></div><br><br><br>
  <div id="navBullet3" class="nav_bullet" data-toggle="tooltip" title="Progress"></div><br><br>
</div>

<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-center">
    <div class="modal-content">
      <%= render 'landing/registration' %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="landingPage">
  <div class="jumbotron masthead">
    <div class="container">
      <h1>Let's Run This Town</h1>
      <p>Get fit together, see more of your city</p>
      <button id="getStarted" class="yellow btn btn-large" data-toggle="modal" data-target="#signUpModal">Get Started</button>
      <div id="learnMoreDiv">
        <div><p>Learn more below</p></div>
        <!-- <i class="icon-chevron-down icon-white"></i> -->
        <span id="learnMoreChevron" class="glyphicon glyphicon-chevron-down"></span>
      </div>
    </div>
  </div>

  <div id="infoSection1" class="info_section">
    <div class="info_container">
      <span id="toHomeChevron" class="nav_chevron glyphicon glyphicon-chevron-up"></span>
      <h1 class="info_title">Plan your routes</h1>
      <div class="col-xs-6"><%= image_tag "BostonMap.png", :id=>"homePageBostonMap", :class=>"img-thumbnail" %></div>
      <div class="col-xs-6 info_body">
        <p>Plan out the your route in a matter of clicks!</p>
        <p>Simply click on the map at the place you want to visit, or input an address to add the point to your waypoint list</p>
        <p>You can choose the points in any order you like, or ask us to order the points so your run is as short as possible.</p>
      </div>
    </div>
    <div class="bottom_nav"><span id="toSection2DownChevron" class="nav_chevron glyphicon glyphicon-chevron-down"></span></div>
  </div>

  <div id="infoSection2" class="info_section">
    <div class="info_container">
      <span id="toSection1UpChevron" class="nav_chevron glyphicon glyphicon-chevron-up"></span>
      <h1 class="info_title">Meet new people</h1>
      <h1 class="info_subtitle">Running together feels better</h1>
      <div id="meetPeopleIcon">
        <span class="glyphicon glyphicon-user"></span>
        <span class="plus_span">+</span>
      </div>
      <div class="container">
        <p>Get motivated to get fit, by finding people who want to do the same. Search for routes created by other users, and run with these people if the route interests you.</p>
      </div>
    </div>
    <div class="bottom_nav"><span id="toSection3DownChevron" class="nav_chevron glyphicon glyphicon-chevron-down"></span></div>
  </div>

  <div id="infoSection3" class="info_section">
    <div class="info_container">
      <span id="toSection2UpChevron" class="nav_chevron glyphicon glyphicon-chevron-up"></span>
      <h1 class="info_title">Keep track of your progress</h1>
      <h1 class="info_subtitle">Set some goals for yourself</h1>
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
            <%= image_tag "RunningMan.png", :id => "landingSection3Icon1", :class => "landingSection3Icon", :title => "Total distance run" %>
          </div>
          <div class="col-xs-6"><h2>Want to run a 5k? A 10k? A marathon?</h2></div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <span id="landingSection3Icon2" class="glyphicon glyphicon-road landingSection3Icon"></span>
          </div>
          <div class="col-xs-6"><h2>Whatever goals you have for yourself, keep them organized</h2></div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <span id="landingSection3Icon3" class="glyphicon glyphicon-fire landingSection3Icon"></span>
          </div>
          <div class="col-xs-6"><h2>Look at your progress over time, and get inspired to keep improving</h2></div>
        </div>
      </div>
    </div>
  </div>

</div>

