.modal { font-size: 14pt; }
.modal h4{ font-size: 18pt; }

.navbar { 
    font-family: 'Sanchez', serif;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5); 
    height: 60px;
}
.navbar-nav li {
    margin-top: 10px;
    font-size: 14pt;
    font-weight: bolder;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0; 
    right: 0; 
    top: 0; 
}

#extraInfo {
    color: white;
    margin-top: 15px;
    margin-right: 20px;
    opacity: 0.5;
    cursor: pointer;
}

#extraInfo:hover {
    opacity: 1;
}
.brand { float: left; margin-left: 20px; }
.popover-title { font-family: 'Sanchez', serif; padding: 10px 30px; font-size: 14pt; }
#routeFinderCont {
    width: -moz-calc(100% - 279px - 15px - 40px - 141px);
    width: -webkit-calc(100% - 279px - 15px - 40px - 141px);
    width: -o-calc(100% - 279px - 15px - 40px - 141px);
    width: calc(100% - 279px - 15px - 40px - 141px);
}
#routeAndFriendFinder {
    width: -moz-calc(100% - 71px - 3px - 12px);
    width: -webkit-calc(100% - 71px - 3px - 12px);
    width: -o-calc(100% - 71px - 3px - 12px);
    width: calc(100% - 71px - 3px - 12px);
    max-width: 500px;
}

#searchContainer {

    max-width: 604px;
}

#inputContainer {

    display: inline-block;
}