<!DOCTYPE html>
<html>
<head>
  <title>RunThisTown</title>
  <%= stylesheet_link_tag    params[:controller] %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
